.upside-down {
    transform: scaleY(-1);
}

.missed {
    opacity: 0.5;
}

plitki-playfield {
    background-color: black;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
}

plitki-accuracy {
    font-family: "Noto Sans";
    font-size: 50px;
    margin: 12px;
}

plitki-accuracy #grade {
    font-family: "Noto Sans Mono";
    font-weight: bold;
}

plitki-combo {
    font-family: "Noto Sans";
    font-size: 80px;
    margin: 12px;
}

plitki-judgement {
    border-radius: 99px;
    margin: 12px;
    margin-bottom: 100px;
    opacity: 0;
}

plitki-hit-light {
    min-height: 200px;
    background: linear-gradient(to top, currentcolor 0%, transparent 100%);
}

.hit-position {
    min-height: 5px;
    background-color: gray;
}

.judge-marv {
    color: rgb(250, 255, 181);
}

.judge-perf {
    color: rgb(255, 232, 107);
}

.judge-great {
    color: rgb(87, 255, 110);
}

.judge-good {
    color: rgb(0, 209, 255);
}

.judge-okay {
    color: rgb(217, 107, 207);
}

.judge-miss {
    color: rgb(250, 99, 92);
}

.grade-x {
    color: rgb(255, 255, 255);
}

.grade-ss {
    color: rgb(250, 255, 181);
}

.grade-s {
    color: rgb(255, 232, 107);
}

.grade-a {
    color: rgb(87, 255, 110);
}

.grade-b {
    color: rgb(0, 209, 255);
}

.grade-c {
    color: rgb(217, 107, 207);
}

.grade-d {
    color: rgb(250, 99, 92);
}