.upside-down {
    transform: scaleY(-1);
}

plitki-playfield {
    background-color: black;
}

plitki-accuracy {
    font-size: 80px;
    margin: 12px;
}

plitki-combo {
    font-size: 80px;
    margin: 12px;
}

plitki-judgement {
    border-radius: 99px;
    margin: 12px;
    margin-bottom: 100px;
}