name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # Monthly

jobs:
  flatpak:
    name: Build on Flatpak
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged

    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true

      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          manifest-path: rs.bxt.Plitki.json
          bundle: plitki.flatpak
          run-tests: true
          cache: false

  rustfmt:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        run: |
          rustup toolchain install nightly --profile minimal --component rustfmt
          rustup override set nightly

      - name: Run rustfmt
        run: cargo fmt --all -- --check
